html,body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

@media (orientation: portrait) {
    .image-container {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 7.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    iframe {
        width: 100%;
        height: 50%;
        margin-top: 25%;
    }
}

@media (orientation: landscape) {
    .image-container {
        display: none;
    }
}
