body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

@media (orientation: portrait) {
    .image-container {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
    }

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    iframe {
        position: absolute;
        top: calc(7.5% + 20px);
        left: 0;
        width: 100%;
        height: 40%;
        margin-top: 0;
        transform: none;
    }
}

@media (orientation: landscape) {
    .image-container {
        display: none;
    }

    iframe {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}
