body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.kinobox_player {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
