body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#iframe-container {
    position: relative;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

#ErrorText {
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

#bottom-image-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: block;
    text-align: center;
}

#bottom-image {
    width: 160x;
    display: block;
    margin: 0 auto;
}

@media (orientation: portrait) {
    .image-container {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
    }

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    iframe {
        position: absolute;
        top: calc(7.5% + 20px);
        left: 0;
        width: 100%;
        height: 40%;
        margin-top: 0;
        transform: none;
    }

    #bottom-image-link {
        top: calc(50% + 4em);
    }
}

@media (orientation: landscape) {
    .image-container {
        display: none;
    }

    .image-container img {
        display: none;
    }

    #bottom-image-link {
        display: none;
    }

    iframe {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}
